<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="gitlab-f2" value="https://git.fabrizi.software/api/v4/groups/38/-/packages/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="gitlab-f2">
      <package pattern="F2.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
